*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

.settings/
.classpath
.project
target/

*.iml
.idea

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
!/um-webapp/target/
/classes/artifacts/um_webapp_m1_l2_start_war_exploded/WEB-INF/classes/application.properties
/um-webapp/target/
/classes/
